<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>
</head>
<body>
<h1>Book Management</h1>

<!-- Form per ottenere tutti i libri -->
<form action="/book/get-all-books" method="get">
    <button type="submit">Get All Books</button>
</form>

<!-- Form per ottenere libro dal titolo -->
<form id="getBookForm" action="#" method="get">
    <input type="text" id="title" name="title" placeholder="Title" required>
    <button type="submit">Get Book by Title</button>
</form>


<script>
    document.getElementById('getBookForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var titleValue = document.getElementById('title').value;
        window.location.href = '/book/' + encodeURIComponent(titleValue);
    });
</script>
</body>
</html>
