<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>
</head>
<body>
<h1>Book Management</h1>

<!-- Form per ottenere tutti i libri -->
<form action="/book/get-all-books" method="get">
    <button type="submit">Get All Books</button>
</form>

<!-- Form per ottenere libro dal titolo -->
<form id="getBookForm" action="#" method="get">
    <input type="text" id="title" name="title" placeholder="Title" required>
    <button type="submit">Get Book by Title</button>
</form>

<!-- Form per inserire un libro -->
<form action="/book/insert-book" method="post">
    <input type="text" name="title" placeholder="Title" required>
    <button type="submit">Insert Book</button>
</form>

<!-- Form per aggiornare un libro -->
<form action="/book/update-book" method="put">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="author" placeholder="Author" required>
    <button type="submit">Update Book</button>
</form>

<!-- Form per eliminare un libro -->
<form action="/book/{bookId}" method="delete">
    <input type="number" name="bookId" placeholder="Book ID" required>
    <button type="submit">Delete Book</button>
</form>

<script>
    document.getElementById('getBookForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var titleValue = document.getElementById('title').value;
        window.location.href = '/book/' + encodeURIComponent(titleValue);
    });
</script>
</body>
</html>
